.main-page-head {
    left: 0;
    top: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background: #ffdd2d;
    display: flex;
    justify-content: right;
}

.main-page-body {
    top: 50px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #E7C82B;
}

.sign-in-block {
    border-radius: 15px;
    background: white;
    border-color: #131D2B;
    font-family: "Arial";
    padding: 25px 100px;
    box-shadow: 1px 1px 10px 5px #DDDDDD;
}

.main-page-block {
    border-radius: 2px;
    background: white;
    font-family: "Arial";
    width: 45%;
}

.column-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row-elements {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.main-page {
    padding: 0;
}

li {
    width: 100%;
    height: 50px;
    list-style-type: none;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: flex-end;
}

ul {
    border: 5px solid #DDDDDD;
    border-top: 10px solid #DDDDDD;
    width: 95%;
    min-height: 50px;
    border-radius: 10px;
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
}

.even-item {
    background: white;
}

.odd-item {
    background: #F0F0F0;
}

.block-button,
::-webkit-file-upload-button {
    width: 130px;
    height: 50px;
    color: black;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    background: #ffdd2d;
    padding: 0;
    border-style: hidden;
}
.block-button:before,
::-webkit-file-upload-button::before,
.block-button:after,
::-webkit-file-upload-button::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #131D2B;
    transition: all 0.3s ease;
}
.block-button:hover,
::-webkit-file-upload-button:hover {
    background: #fcc521;
    color: #131D2B;
}

.block-button:active {
    background: #fab619;
}

.not-block-button:hover {
    color: #131D2B;
    background: #E7C82B;
}

.head-button {
    border-radius: 0;
    margin: 0 10px 0 0;
    width: 150px;
    height: 50px;
    border-left: 3px solid #fcc521;
    border-right: 3px solid #fcc521;
    top: 0;
}

.li-button {
    border-radius: 0;
    margin: 0 0 0 10px;
    width: 100px;
    height: 50px;
    top: 0;
}

.create-func-button {
    height: 20px;
    width: 120px;
    font-size: 8px;
    padding: 0;
    margin: 0;
}

.text-input {
    display: block;
    height: 50px;
    background: #CCCCCC;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 20px;
    line-height: 44px;
    font-weight: 300;
    padding-left: 25px;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.text-input:hover {
    background: #AAAAAA;
}

.text-input::-webkit-input-placeholder, .text-input:-ms-input-placeholder, .text-input::-ms-input-placeholder {
    opacity: 1;
    color: rgba(5, 5, 5, 0.5);
}

.text-input::placeholder {
    opacity: 1;
    color: rgba(5, 5, 5, 0.5);
}
.text-input:focus {
    background: white;
}


.func-buttons-ul {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.delete-button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-button:before {
    content: '+';
    color: #131D2B;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
    font-size: 20px;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
}
.delete-button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #131D2B;
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
    transform: scale(0.01);
}
.delete-button:hover:after {
    transform: scale(1);
}
.delete-button:hover:before {
    transform: scale(0.8) rotate(45deg);
    color: lightcoral;
}


.drag-handle {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: rgb(231, 221, 168);
    border-color: #131D2B;
    border-style: solid;
    width: 100%;
    transform: translate(0, -2px);
    height: 30px;
    margin: 0;
}

.cell-text-input {
    display: block;
    height: 3px;
    width: 150px;
    background: #131D2B;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 10px;
    color: #DFCF77;
    line-height: 20px;
    font-weight: 200;
    padding: 12px 10px;
    margin-left: 3px;
}
.cell-text-input::-webkit-input-placeholder {
    opacity: 0.5;
    color: rgba(223, 207, 119, 0.27);
}
.cell-text-input:-ms-input-placeholder {
    opacity: 0.5;
    color: rgba(223, 207, 119, 0.27);
}
.cell-text-input::-ms-input-placeholder {
    opacity: 0.5;
    color: rgba(223, 207, 119, 0.27);
}
.cell-text-input::placeholder {
    opacity: 0.5;
    color: rgba(223, 207, 119, 0.27);
}
.cell-text-input:focus {
    border-color: #DFCF77;
}

.cell {
    width: 600px;
    height: 380px;
    position: absolute;
}

.cell-inside {
    display: flex;
    flex-direction: row;
}

.cell-inside-block {
    border-style: none;
    width: 200px;
    height: 225px;
    margin: 0;
}

.cell-inside-ul {
    overflow-y: auto;
    overflow-x: hidden;
}

.cell-inside-block-element {
    margin: 2px;
}

.cell-inside-button-block {
    width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cell-execute-button {
    margin-top: 0;
    width: 500px;
}