.pipeline__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    background: white;
}

.pipeline__header-button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 0 solid #E5C000;
    border-right-width: 3px;
    border-left-width: 3px;
    cursor: pointer;
    background: inherit;
    font-family: Disket Mono, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
}

.pipeline__header-button:hover {
    background: #fcc521;
    color: #131D2B;
}

.pipeline__header-button:active {
    background: #fab619;
    color: black;
}

.pipeline__header-buttons {
    display: flex;
}

.pipeline__title {
    padding: 0 24px;
    color: #8C8C8C;
    font-family: Disket Mono bold, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
}

.pipeline__modal-doc {
    padding: 20px;
    white-space: pre-line;
}

.pipeline__modal-doc > p {
    margin: 0;
    line-height: 30px;
}
