.pipeline__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: 100%;
    background: white;
    z-index: 100;
    position: relative;
    box-shadow: 0 10px 10px 5px rgba(160, 160, 160, 0.27);
}

.pipeline__header-buttons {
    display: flex;
}

.pipeline__title {
    padding: 0 24px;
    color: #8C8C8C;
    font-family: Disket Mono bold, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pipeline__modal-doc {
    padding: 10px 0 20px;
    white-space: pre-line;
}

.pipeline__modal-doc > p {
    margin: 0;
    line-height: 30px;
}
