.main__header {
    height: var(--header-height);
    width: 100%;
    background: white;
    box-shadow: 0 10px 10px 5px rgba(160, 160, 160, 0.27);
    display: flex;
    flex-direction: row-reverse;
}

.main__body {
    width: 100%;
    display: flex;
    background: #F0F0F0;
    margin-bottom: 40px;
}

.main__create-form-input:hover {
    background: #AAAAAA;
}

.main__create-form-input::placeholder {
    opacity: 1;
    color: rgba(5, 5, 5, 0.5);
}

.main__create-form-input:focus {
    background: white;
}

.main__submit-button,
.main__list-item-button,
.main__list-item-link {
    width: 130px;
    height: 50px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background: #ffdd2d;
    padding: 0;
    border-style: hidden;
}

.main__submit-button:hover,
.main__list-item-button:hover,
.main__list-item-link:hover {
    background: #fcc521;
    color: #131D2B;
}

.main__submit-button:active,
.main__list-item-button:active,
.main__list-item-link:active {
    background: #fab619;
    color: black;
}

.main__list-item-button, .main__list-item-link {
    height: 100%;
}

.main__list-item-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
}

.main__divide-line {
    width: 2px;
    min-height: 634px;
    background: #A0A0A0;
    margin-top: 26px;
}

.main__exit-icon {
    background-image: url("../../../public/img/exit.png");
    background-size: 30px;
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
