.cell__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
}

.cell__status {
    padding: 0 18px;
    font-family: Disket Mono bold, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0;
    overflow: hidden;
    color: #8C8C8C;
    max-width: 200px;
    max-height: var(--header-height);
}

.cell__function {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 10px;
}

.cell__function-info-icon {
    background-image: url("../../../public/img/info.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
    border: none;
    background-repeat: no-repeat;
    background-color: inherit;
    cursor: pointer;
}

.cell__function-name {
    font-family: Disket Mono, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
}

.cell__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: var(--header-height);
    box-shadow: 0 10px 10px 5px #A0A0A045;
    margin: 0 0 20px;
}

.cell:active {
    cursor: grabbing;
}

.cell {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    position: relative;
    background: white;
    padding: 0 0 20px;
}

.cell__params-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 0 20px;
}

.cell__trash-icon {
    background-image: url("../../../public/img/trash.png");
    background-size: 20px;
    height: 30px;
    width: 20px;
    margin: 0 10px;
    background-repeat: no-repeat;
}

.cell__modal-doc {
    padding: 10px 0 20px;
    white-space: pre-line;
}
