@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

@font-face {
    font-family: "Disket Mono";
    src: url("../fonts/Disket-Mono-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Disket Mono bold";
    src: url("../fonts/Disket-Mono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    background-color: #F0F0F0;
}
