:root {
    --main-items-height: 40px;
}

body {
    margin: 0;
}

.main-header, .pipeline-header {
    height: 50px;
    width: 100%;
    background: #ffdd2d;
}

.pipeline-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__button, .pipeline-header__button, .cell__header-button {
    width: 150px;
    height: 50px;
    border: none;
    border-left: 3px solid #fcc521;
    border-right: 3px solid #fcc521;
    cursor: pointer;
    background: #ffdd2d;
}

.main-body {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.authorization {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.authorization__section {
    border-radius: 15px;
    background: white;
    border-color: #131D2B;
    padding: 25px 100px;
    box-shadow: 1px 1px 10px 5px #DDDDDD;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authorization__login-input, .authorization__password-input {
    display: block;
    height: 50px;
    background: #CCCCCC;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 20px;
    line-height: 44px;
    font-weight: 300;
    padding-left: 25px;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

.authorization__login-input {
    margin-bottom: 5px;
}

.authorization__password-input {
    margin-bottom: 10px;
}

.cell__text-input:hover,
.authorization__login-input:hover,
.authorization__password-input:hover,
.main-page__text-input:hover {
    background: #AAAAAA;
}

.cell__text-input::placeholder,
.authorization__login-input::placeholder,
.authorization__password-input::placeholder,
.main-page__text-input::placeholder {
    opacity: 1;
    color: rgba(5, 5, 5, 0.5);
}

.cell__text-input:focus,
.authorization__login-input:focus,
.authorization__password-input:focus,
.main-page__text-input:focus {
    background: white;
}

.authorization__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authorization__error {
    color: red;
}

.authorization__link {
    width: 130px;
    height: 50px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background: #ffdd2d;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.main-section {
    border-radius: 2px;
    background: white;
    width: 45%;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-section__upload-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cell__body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
}

.cell__status {
    margin-left: 10px;
    user-select: none;
}

.cell__function-name {
    user-select: none;
    margin: 0 0 0 10px;
}

.cell__text-input {
    text-align: center;
    height: 20px;
    width: 50px;
    background: #CCCCCC;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    flex-shrink: 0;
}

.main-section__item {
    width: 100%;
    height: var(--main-items-height);
    list-style-type: none;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid #DDDDDD;
    border-top: 10px solid #DDDDDD;
    width: 95%;
    min-height: var(--main-items-height);
    border-radius: 10px;
    padding-left: 0;
}

.files-section__item {
    list-style-type: none;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-between;
}

.main-section__item_even {
    background: white;
}

.main-section__item_odd {
    background: #F0F0F0;
}

.cell-creation  {
    background: #ffdd2d;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.authorization__button,
::-webkit-file-upload-button,
.main-section__button,
.main-section__item-button,
.cell__execute-button,
.cell__save-button,
.cell-creation__create-button {
    width: 130px;
    height: 50px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background: #ffdd2d;
    padding: 0;
    border-style: hidden;
}

.authorization__button:hover,
::-webkit-file-upload-button:hover,
.authorization__link:hover,
.main-header__button:hover,
.pipeline-header__button:hover,
.main-section__button:hover,
.main-section__item-button:hover,
.cell__header-button:hover,
.cell__execute-button:hover,
.cell__save-button:hover,
.cell-creation__create-button:hover {
    background: #fcc521;
    color: #131D2B;
}

.authorization__button:active,
::-webkit-file-upload-button:active,
.authorization__link:active,
.main-header__button:active,
.pipeline-header__button:active,
.main-section__button:active,
.main-section__item-button:active,
.cell__header-button:active,
.cell__execute-button:active,
.cell__save-button:active,
.cell-creation__create-button:active {
    background: #fab619;
    color: black;
}

.main-section__item-button {
    height: 100%;
}

.create-func-button {
    height: 20px;
    width: 120px;
    font-size: 8px;
    padding: 0;
    margin: 0;
}

.main-page__text-input {
    display: block;
    height: 50px;
    background: #CCCCCC;
    border-radius: 10px;
    border: 1px solid transparent;
    font-size: 20px;
    line-height: 44px;
    font-weight: 300;
    padding-left: 25px;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
    margin-bottom: 10px;
}

.cell__header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: #ffdd2d;
    width: 100%;
    height: 50px;
    margin: 0;
}

.cell {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    position: absolute;
    background: white;
    padding: 0;
}

.cell__param-items, .cell__input-items, .cell__output-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    padding: 0;
    margin: 0 10px 0 10px;
    height: 60px;
    max-width: 750px;
    overflow-y: hidden;
    overflow-x: auto;
}

.cell__input-item, .cell__param-item, .cell__output-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.cell__graph-name {

}

.cell__inputs, .cell__params, .cell__outputs {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-style: none;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: 0;
}

.cell__show-graph-checkbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.cell__save-button {
    flex-shrink: 0;
    width: 60px;
}

.main-section__create-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cell__graphs {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
}

.cell__graph-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cell__execute-button {
    margin-top: 0;
    width: 500px;
    height: 40px;
    margin-bottom: 5px;
}

.cell-creation__func-type {
    border: none;
    background: none;
    font-weight: bold;
}

.cell-creation__func-type:hover {
    color: darkblue;
}

.cell-creation__func-type_active {
    text-decoration: underline;
}

.cell-creation__func-types, .cell-creation__create-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

.cell-creation__create-buttons {
    gap: 5px;
}
