.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__content {
    min-width: 558px;
    min-height: 225px;
    max-height: 80%;
    border-top: 8px solid #000000D1;
    border-radius: 15px;
    background-color: white;
    overflow-y: auto;
    padding: 0 20px;
}

.modal__header {
    text-align: center;
    margin-top: 18px;
    font-family: 'Disket Mono', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}

.modal__body {
    text-align: center;
    font-family: 'Hubballi', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}
