.modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    width: 400px;
    background-color: white;
}

.modal__header {
    text-align: center;
    padding: 12px;
}

.modal__body {
    padding: 20px;
    text-align: center;
}

.modal__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
