.cell-creation  {
    background: white;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
    position: absolute;
}

.cell-creation__func-type {
    border: none;
    background: none;
    font-weight: bold;
    font-family: 'Hubballi', cursive;
    font-style: normal;
    font-size: 16px;
}

.cell-creation__func-type:hover {
    color: #E5C000;
}

.cell-creation__func-type_active {
    color: #CC9608;
}

.cell-creation__func-type_active:hover {
    color: #CC9608;
}

.cell-creation__func-types, .cell-creation__create-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}

.cell-creation__create-buttons {
    margin: 0 0 16px;
}

.cell-creation__create-buttons {
    gap: 10px;
}
