.cell-creation  {
    background: #ffdd2d;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.cell-creation__create-button {
    width: 130px;
    height: 50px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background: #ffdd2d;
    padding: 0;
    border-style: hidden;
}

.cell-creation__create-button:hover {
    background: #fcc521;
    color: #131D2B;
}

.cell-creation__create-button:active {
    background: #fab619;
    color: black;
}

.cell-creation__func-type {
    border: none;
    background: none;
    font-weight: bold;
}

.cell-creation__func-type:hover {
    color: darkblue;
}

.cell-creation__func-type_active {
    text-decoration: underline;
}

.cell-creation__func-types, .cell-creation__create-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}

.cell-creation__create-buttons {
    gap: 5px;
}
