.file-input {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.file-input__name {
    font-family: Hubballi, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
}
